<!DOCTYPE html>
<html>
<head>
    <title>Tarea de ingenieria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascript")
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                                @Html.ActionLink("Informacion Basica", "Index", "Home")
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <section class="main row">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="text-center">
            <p>©2018, Tarea 3. Desarrollado por Maynor Calvo y Dylan Zamora</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
