<!DOCTYPE html>
<html>
<head>
    <title>Tarea de ingenieria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascript")
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Registro Policial</h1>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Informacion Basica", "Index", "Home")</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Personas", "Personas", "Home")</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Personas Juridicas", "PersonaJuridicas", "Home")</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Vehiculos", "Vehiculos", "Home")</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Objetos", "Objetos", "Home")</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <section class="main row">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="text-center">
            <p>©2018, Tarea 3. Desarrollado por Maynor Calvo y Dylan Zamora</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
